[push]
	default = upstream
[user]
	name = Mariana Cely
	email = cely.mariana@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /home/mari/.gitignore
	editor = code
[github]
	user = marianacelyvelasquez
[diff]
	submodule = log
[column]
	ui = auto,dense
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
